@import '../variables.styl'

$code-foreground = lighten($default-text-color, 2%)
$code-background = darken($background-color, 5%)
$highlight-foreground = lighten($default-text-color, 2%)
$highlight-background = #fafafa
$highlight-gutter-color = #373D3F
$highlight-gutter-bg-color = #EEEEEE
$highlight-keyword = #a626a4
$highlight-link = #4078f2
$highlight-built-in = #c18401
$highlight-number = #986801
$highlight-string = #50a14f
$highlight-regexp = #50a14f
$highlight-subst = #e45649
$highlight-comment = #a0a1a7
$highlight-doctag = #a626a4
$highlight-meta = #50a14f
$highlight-variable = #986801
$highlight-attr = #986801
$highlight-section = #e45649
$highlight-bullet = #4078f2
$highlight-addition = #50a14f
$highlight-deletion = #e45649
$night-code-foreground = lighten($dark-default-text-color, 2%)
$night-code-background = lighten($dark-background-color, 10%)
$night-highlight-foreground = lighten($dark-default-text-color, 2%)
$night-highlight-background = #21252b
$night-highlight-gutter-color = #bebec6
$night-highlight-gutter-bg-color = #21252b
$dark-highlight-keyword = #c678dd
$dark-highlight-link = #61aeee
$dark-highlight-built-in = #e6c07b
$dark-highlight-number = #d19a66
$dark-highlight-string = #98c379
$dark-highlight-regexp = #98c379
$dark-highlight-subst = #e06c75
$dark-highlight-comment = #5c6370
$dark-highlight-doctag = #c678dd
$dark-highlight-meta = #98c379
$dark-highlight-variable = #d19a66
$dark-highlight-attr = #d19a66
$dark-highlight-section = #e06c75
$dark-highlight-bullet = #61aeee
$dark-highlight-addition = #98c379
$dark-highlight-deletion = #e06c75

code-theme(mode)
  --code-foreground: mode == 'light' ? $code-foreground : $night-code-foreground
  --code-background: mode == 'light' ? $code-background : $night-code-background
  --highlight-background: mode == 'light' ? $highlight-background : $night-highlight-background
  --highlight-foreground: mode == 'light' ? $highlight-foreground : $night-highlight-foreground
  --highlight-keyword: mode == 'light' ? $highlight-keyword : $dark-highlight-keyword
  --highlight-link: mode == 'light' ? $highlight-link : $dark-highlight-link
  --highlight-built-in: mode == 'light' ? $highlight-built-in : $dark-highlight-built-in
  --highlight-number: mode == 'light' ? $highlight-number : $dark-highlight-number
  --highlight-string: mode == 'light' ? $highlight-string : $dark-highlight-string
  --highlight-regexp: mode == 'light' ? $highlight-regexp : $dark-highlight-regexp
  --highlight-subst: mode == 'light' ? $highlight-subst : $dark-highlight-subst
  --highlight-comment: mode == 'light' ? $highlight-comment : $dark-highlight-comment
  --highlight-doctag: mode == 'light' ? $highlight-doctag : $dark-highlight-doctag
  --highlight-meta: mode == 'light' ? $highlight-meta : $dark-highlight-meta
  --highlight-variable: mode == 'light' ? $highlight-variable : $dark-highlight-variable
  --highlight-attr: mode == 'light' ? $highlight-attr : $dark-highlight-attr
  --highlight-section: mode == 'light' ? $highlight-section : $dark-highlight-section
  --highlight-bullet: mode == 'light' ? $highlight-bullet : $dark-highlight-bullet
  --highlight-addition: mode == 'light' ? $highlight-addition : $dark-highlight-addition
  --highlight-deletion: mode == 'light' ? $highlight-deletion : $dark-highlight-deletion

:root
  code-theme('light')

@media (prefers-color-scheme light)
  :root
    code-theme('light')

@media (prefers-color-scheme dark)
  :root
    code-theme('dark')

.light-mode
  code-theme('light')

.dark-mode
  code-theme('dark')
